
.newsitem {
  margin-top: 0rem;
  margin-bottom: 0rem;
}

.newsitempub {
  margin-top: 0rem;
  margin-bottom: 0rem;
  font-weight: bold;
}


.newsitemdate  {
  margin-top: 0rem;
 margin-bottom: 1rem;
}